* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  background: #0C121E;
}

@font-face {
    font-family: 'Gilroy';
    src: local('Gilroy'), url(../public/fonts/gilroy/Gilroy-SemiBold.ttf) format('truetype');
}
@font-face {
    font-family: 'Gilroy';
    src: local('Gilroy'), url(../public/fonts/gilroy/Gilroy-Bold.ttf) format('truetype');
    font-weight: 700;
}

@font-face {
    font-family: 'Gilroy';
    src: local('Gilroy'), url(../public/fonts/gilroy/Gilroy-Regular.ttf) format('truetype');
    font-weight: 400;
}

@font-face {
    font-family: 'Gilroy';
    src: local('Gilroy'), url(../public/fonts/gilroy/Gilroy-Medium.ttf) format('truetype');
    font-weight: 500;
}